{% extends "base.html" %}
{% load static %}

{% block title %}
Создать новую карточку
{% endblock %}

{% block style %}
{% endblock %}


{% block content %}

<h5>Новая группа</h5>
<form method="post">
    {% csrf_token %}
    <div class="input-field">
        {{ form.name }}
        <label>Имя нового типа</label>
    </div>
    <div class="row">
        <div class="col">
            {% for color in colors %}
                <label class="{{ color }}">
                    <input class="{{ color }}" type="radio" name="color" value="{{ color }}">
                    <span class="white-text">{{ color }}</span>
                </label>
            {% endfor %}
            <br>
            {% for color in colors %}
                <label class="{{ color }}">
                    <input class="{{ color }}" type="radio" name="color" value="{{ color }}">
                    <span class="black-text">{{ color }}</span>
                </label>
            {% endfor %}
            <br>
            {% for color in colors %}
                <div class="card {{color}}">
                    <div class="card-content">
                        <span class="card-title black-text">{{ color }}</span>
                        
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

    <button class="waves-effect waves-light blue btn center-align" type="submit" name="action">Создать</button>

</form>

{% endblock %}
