{% extends "base_form.html" %}
{% load static %}

{% block title %}
СОЗДАТЬ НОВУЮ КАРТОЧКУ
{% endblock %}

{% block form %}

<div class="mv-2 center-align">
    <h5>Создать новую группу карточек</h5>
</div>
<form method="post">
    {% csrf_token %}

    <div class="input-field">
        {{ form.name }}
        <label>Имя новой группы</label>
    </div>

    <p>Выберете цвет группы:</p>
    <div class="row">
        {% for color in colors %}
        <div class="col s6 m4 ">
            <div class="card-panel {{ color }}">
                <label>
                    <input class="{{ color }}" type="radio" name="color" value="{{ color }}">
                    <span class="black-text">{{ color }}</span>
                </label>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mv-2 center-align">
        <button class="waves-effect waves-light blue btn center-align" type="submit" name="action">Создать</button>
    </div>

</form>

{% endblock %}
