{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SAME SHEET | {% block title %}{% endblock %}</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'css/materialize.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block js %}
    {% endblock js %}

    {% block style %}
    {% endblock %}

</head>
<body>

    <nav class="nav-wrapper blue">
        <div class="container">
            <ul class="left">
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">SAME SHEET</a></li>
                <li><a href="{% url 'overview' %}"><strong>Сегодня</strong></a></li>
                <li><a href="{% url 'calendar_year' %}">Календарь</a></li>
                <li><a href="{% url 'cards' %}">Карточки</a></li>
                {% else %}
                <li><a href="{% url 'overview' %}">SAME SHEET</a></li>
                {% endif %}
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
            <ul class="right">
                {% if user.is_authenticated %}
                     <li><a href="#">{{ user.username|title }}</a></li>
                     <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'registration' %}">Зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="container">
    {% block content %}
    {% endblock %}
    </main>

    <footer class="page-footer blue">
            <p class="center">2019 &copy; <a class="white-text" href="https://github.com/post-nov">post-nov</a></p>
    </footer>

</body>

{% comment %}
<style media="screen">
#toast-container {
top: auto !important;
right: auto !important;
bottom: 10%;
left:50%;
}
</style>
{% endcomment %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script>M.toast({html: "{{message}}", classes: 'green', displayLength:2000});</script>
        {% elif message.tags == 'info'%}
            <script>M.toast({html: "{{message}}", classes: 'blue', displayLength:2000});</script>
        {% elif message.tags == 'warning'%}
            <script>M.toast({html: "{{message}}", classes: 'orange', displayLength:10000});</script>
        {% elif message.tags == 'error'%}
            <script>M.toast({html: "{{message}}", classes: 'red', displayLength:10000});</script>
        {% endif %}
    {% endfor %}
{% endif %}

</html>
