{% extends "base.html" %}
{% load static %}

{% block title %}
LOGIN
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/user/login.css" %}">
{% endblock %}

{% block content %}

<main>
    <form method="POST" class="mv-4">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <button class="waves-effect waves-light blue btn center-align" type="Submit" name="button">Войти</button>
    </form>

    Нет аккаунта? <a href="{% url 'registration' %}"><strong>Зарегистрируйтесь</strong></a> же

</main>

{% endblock %}
