{% extends "base_form.html" %}
{% block title %}
REGISTRATION
{% endblock %}

{% block form %}
<h4 class="mv-2 center-align">Регистрация</h4>
<form method="POST">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="input-field">
            {{ field }}
            <label>{{ field.label }}</label>
            {% if field.errors %}
            <span class="helper-text red-text">
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </span>
            {% endif %}
        </div>
    {% endfor %}

    <div class="center-align">
        <button class="waves-effect waves-light blue btn center-align mv-1" type="Submit" name="button">Зарегистрироваться</button>
    </div>
</form>

<div class="mv-1 center-align">
    Уже есть аккаунт? <a href="{% url 'login' %}"><strong>Вход</strong> здесь</a>
</div>
{% endblock %}
