{% extends "base.html" %}
{% load static %}

{% block title %}
DELETE {{ sheet.name|capfirst }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/deletion/sheet_delete.css" %}">
{% endblock %}

{% block content %}

<main class="center-align">

    <div class="mv-3">
        <h4>Вы собираетесь удалить таблицу</h4>
        <h4><strong>{{ sheet.name }}</strong></h4>
    </div>

    <div class="mv-5">
        {% if number_of_records %}
            <h5>В настоящий момент в ней {{ number_of_records }} записей.</h5>
            <h5>После удаления они безвозвратно пропадут.</h5>
        {% endif %}
        <h5>Вы уверены, что готовы пойти на этот шаг?</h5>
    </div>

    <div class="row">
        <div class="col s6 right-align">
            <form method="post">
                {% csrf_token %}
                <button class="waves-effect waves-light red btn" type="submit" name="action">УДАЛИТЬ</button>
            </form>
        </div>
        <div class="col s6 left-align">
            <a class="waves-effect waves-light btn" href="{% url 'sheets' %}">ОТМЕНА</a>
        </div>
    </div>

</main>

{% endblock %}
