{% extends "base.html" %}
{% load static %}
{% load sheets_tags %}

{% block title %}
OVERVIEW
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/browsing/overview.css' %}">
{% endblock %}

{% block js %}
<script>
{% include "includes/materialize/tooltip_init.html" %}
</script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="row mv-2">
    <div class="col s12 l8 offset-l2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Привет, {{ user.username }}!</span>
                <p>Добро пожаловать на SAME SHEET</p>
                <p>На этой странице отображается актуальный месяц и все
                записи, относящиеся к нему.</p>
            </div>
        </div>
    </div>

    <div class="col s12 l4 offset-l2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Статистика</span>
                {% if stats %}
                    <p>Записей в этом месяце: {{ stats.total_records }}</p>
                    <p>Последняя запись: {{ stats.latest_record|date:'d' }}</p>
                    <p>Средняя оценка за 30 дней: {{ stats.average_score }}</p>
                {% else %}
                    <p>За этот месяц еще нет записей</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a class="blue-text" href="#">Подробнее</a>
            </div>
        </div>
    </div>

    <div class="col s12 l4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Сегодня {{ today|date:'d.m.y'}}</span>
                {% if record %}
                <p>{{ record.content|linebreaks }}</p>
                {% else %}
                <p>Записи еще не сделано</p>
                {% endif %}
            </div>
            {% if not record %}
            <div class="card-action">
                <a class="green-text" href="{% url 'record' today.year today.month today.day %}">Добавить</a>
            </div>
            {% endif %}
        </div>
    </div>

    {# CALENDAR #}
    <div class="col s12 l8 offset-l2">
        <div class="card z-depth-5">
            <div class="card-content">
                <h5 class="center-align">{{ today|date:"F" }}</h5>

                    {% include 'includes/calendar/month.html' with days=days year=today.year month=today.month %}
                    <div class="mv-2">
                        {% include 'includes/calendar/moods.html' %}
                    </div>
                    <p class="center-align"><a href="{% url 'calendar_year' %}">Открыть календарь</a></p>
            </div>
        </div>
    </div>

</div>

{% else %}
	{% include 'includes/base/about.html' %}
{% endif %}
{% endblock %}
