{% extends "base.html" %}
{% load static %}
{% load sheets_tags %}

{% block title %}
OVERVIEW
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/browsing/overview.css' %}">
{% endblock %}

{% block js %}
<script>
{% include "includes/materialize/tooltip_init.html" %}
</script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="row mv-2">
    <div class="col s12 l8 offset-l2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Привет, {{ user.username }}!</span>
                <p>Добро пожаловать на SAME SHEET</p>
            </div>
        </div>
    </div>

    <div class="col s12 l4 offset-l2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Статистика</span>
                <p>Записей без пропусков:</p>
                <p>Последняя запись:</p>
                <p>Средняя оценка за 30 дней:</p>
            </div>
            <div class="card-action">
                <a class="blue-text" href="#">Подробнее</a>
            </div>
        </div>
    </div>

    <div class="col s12 l4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Сегодня {{ today|date:'d.m.y'}}</span>
                {% if record %}
                <p>{{ record.content|linebreaks }}</p>
                {% else %}
                <p>Записи еще не сделано</p>
                {% endif %}
            </div>
            {% if not record %}
            <div class="card-action">
                <a class="green-text" href="#">Добавить</a>
            </div>
            {% endif %}
        </div>
    </div>

    {# CALENDAR #}
    <div class="col s12 l8 offset-l2">
        <div class="card z-depth-5">
            <div class="card-content">
                <h5 class="center-align">Ноябрь</h5>

                    {% include 'includes/calendar/month.html' with days=days year=today.year month=today.month %}:

                    <p class="center-align"><a href="{% url 'calendar_year' %}">Открыть календарь</a></p>
            </div>
        </div>
    </div>

</div>

{% else %}
<div>
    <h4 class="center-align">Same sheet</h4>
</div>
<p class="flow-text mv-4">SAME SHEET - сервис для тех, кто хочет превратить свою жизнь в набор записей в таблице. В нем можно создать бесконечно множество таблиц, которые будут объединять темы, за которыми вы хотите следить.</p>

<div class="row mv-4">

    <div class="col s12 m8">
        <p class="flow-text">
            Например, можно создать ежедневник, в котором вы будете отмечать оценку дня; комментарий о нем; тэги, относящиеся к вашему настроению
        </p>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Ежедневник</span>
                <p>
                    Как прошел ваш день?<br>
                    Что вы можете сказать о нем?<br>
                    Какие чувства он у вас вызвал?
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row mv-4">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Спорт</span>
                <p>
                    Километров пройдено <br>
                    Приседаний <br>
                    Подтягиваний <br>
                    Отжиманий <br>
                    Состояние здоровье (хорошее/плохое, бодрое/уставшее)
                </p>
                </div>
        </div>
    </div>
    <div class="col s12 m8">
        <p class="flow-text">Или можете сделать таблицу, отражающюю ваши спортивные достижения</p>
    </div>
</div>

<div class="row mv-4">
    <div class="col s12 m8">
        <p class="flow-text">А можно создать отдельный ШИТ, посвященный какому-нибудь проекту, в котором вы будете отмечать значимые этапы</p>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">SAME SHEET</span>
                <p> Этап<br>
                    Потраченное время<br>
                    Сложность<br>
                    Какие технологии использовались
                </p>
            </div>
        </div>
    </div>
</div>

<div class="mv-5">
    <div class="center-align">
        <p class="flow-text">Вариантов множество, дерзайте)</p>
    </div>
</div>

<div>
    <p class="flow-text">На данный момент проект находится в стадии активной разработки, поэтому часть функционала может работать не полностью/не работать вообще. Это надо принять, с этим надо смириться.</p>
</div>

<table class="highlight mv-5">
    <thead>
        <th>Что работает сейчас</th>
        <th>Что появится в скором времени</th>
    </thead>
    <tbody>
        <tr>
            <td>Основной функционал аккаунта (регистрация, вход, выход)</td>
            <td class="overline">Materialize. В настоящий момент сервис выглядит уродливо. Я это знаю</td>
        </tr>
        <tr>
            <td>Возможность создавать/удалять таблицы</td>
            <td class="overline">Pagination для записей</td>
        </tr>
        <tr>
            <td>В таблицах можно добавлять свои вопросы, указывать их тип и максимальное значение, если потребуется</td>
            <td>Возможность архивировать выборочные ШИТы</td>
        </tr>
        <tr>
            <td>Добавление/удаление записей. Ваши ответы будут проходить валидацию на основе здравого смысла и максимального значения, если вы его указали</td>
            <td>Какая-нибудь статистика</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}
