{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Запись
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12">
        <h6>Вы собираетесь удалить карточку {{ card_name }} за {{ record.date|date:"d-m-y" }}</h6>
    </div>
    <div class="col s12 l6 offset-l3">
        <div class="card {{ card_color }} black-text">
            <div class="row card-content">
                <span class="card-title">{{ card_name }}</span>

                {% include 'includes/cards/card_snippet.html' with questions_answers=card_qa %}

                {% comment %}
                {% for qa in card_qa %}
                    <h6>{{ qa.0.name }}</h6>
                    <div class="col s12">
                    {% if qa.0.type == "LST" %}
                        {% for element in qa.1.lst_answers %}
                        <p>{{ element }}</p>
                        {% endfor %}
                    {% else %}
                        <p>{{ qa.1 }}</p>
                    {% endif %}
                    </div>
                {% endfor %}
                {% endcomment %}

            </div>
        </div>
    </div>

    <div class="row">
       <div class="col s4 right-align">
           <form method="post">
               {% csrf_token %}
               <button class="waves-effect waves-light red btn" type="submit" name="action">УДАЛИТЬ</button>
           </form>
       </div>
       <div class="col s4 center-align">
           <a class="waves-effect waves-light green btn" href="#">РЕДАКТИРОВАТЬ</a>
       </div>
       <div class="col s4 left-align">
           <a class="waves-effect waves-light btn" href="{% url 'record' record.date.year record.date.month record.date.day %}">ОТМЕНА</a>
       </div>
   </div>
</div>

{% endblock %}
