{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load sheets_tags %}

{% block title %}
Запись
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/browsing/record.css' %}">
{% endblock %}

{% block js %}
<script>
{% include "includes/materialize/select_init.html" %}
</script>
{% endblock %}


{% block content %}


{% if record %} {# Запись за этот день имеентся #}


    <div class="row">
        <div class="col s8 offset-s2 mv-4">
            <div class="card grey lighten-4">
                <div class="card-content">
                    <span class="card-title center-align">{{ record.date|date:"d-m-y" }}</span>

                    <div class="element z-depth-1 row mv-2">
                        <h5 class="col s12 m4">Итоги дня</h5>
                        <p class="col s12 m8">{{record.content}}</p>
                    </div>

                    <div class="center-align">
                    {% if record.score == 1 %}
                        <i class="material-icons medium blue-text text-darken-4">sentiment_very_dissatisfied</i>
                    {% elif record.score == 2 %}
                        <i class="material-icons medium blue-text text-darken-2">sentiment_dissatisfied</i>
                    {% elif record.score == 3 %}
                        <i class="material-icons medium blue-text">sentiment_neutral</i>
                    {% elif record.score == 4 %}
                        <i class="material-icons medium blue-text text-lighten-2">sentiment_satisfied</i>
                    {% elif record.score == 5 %}
                        <i class="material-icons medium blue-text text-lighten-4">sentiment_very_satisfied</i>
                    {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% if record_cards %}
        <div class="row">
            {% for card in record_cards %}
                <div class="col s12 m6 l4">
                    <div class="card {{ card|get_item:"card_color" }} black-text z-depth-2">
                        <div class="card-content">
                            <span class="center-align card-title">{{ card|get_item:"card_name" }}</span>

                            {% include "includes/cards/card_snippet.html" with questions_answers=card|get_item:"card_qa" with_control='YES' card_name=card|get_item:"card_name" card_type_name=card|get_item:"card_type_name" date=date %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if card_groups %}
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="col s6 offset-s2">
                    <select name="card">
                        {% for card_type, cards in card_groups.items %}
                        <optgroup label="{{ card_type }}">
                            {% for card in cards %}
                            {% comment %}
                            Пришлось использовать специальные знаки, чтобы одновременно передать информацию о карточке и ее типе. Могу предположить, что использование скрытого поля в связке с js может решить проблему, но пока я не знаю как именно это реализовать.
                            {% endcomment %}
                            <option value="{{ card_type }}---|||---{{ card.name }}">{{ card.name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>
                <div class="col s2 right-align">
                    <button class="waves-effect waves-light blue btn center-align" type="submit" name="action">Добавить</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="row">
            <div class="col s12">
                <p class="center-align">Почему бы вам не <a href="{% url 'cards' %}">создать</a> пару карточек?</p>
            </div>
        </div>
    {% endif %}

{% else %} {# Запись за этот день нет #}
    <div class="row">
        <div class="col s6 offset-s3 z-depth-2 mv-3">
            <h5 class="center-align">Итоги {{ date|date:"d-m-y" }}</h5>
            <form method="post">
                {% csrf_token %}
                <div class="input-field">
                    {% render_field form.content type="textarea" class="materialize-textarea" %}
                </div>

                <p class="center-align">
                    <label for"score1">
                        <input id="score1" class="score-1" type="radio" name="score" value="1">
                        <span>1</span>
                    </label>

                    <label>
                        <input class="score-2" type="radio" name="score" value="2">
                        <span>2</span>
                    </label>
                    <label>
                        <input class="score-3" type="radio" name="score" value="3">
                        <span>3</span>
                    </label>
                    <label>
                        <input class="score-4" type="radio" name="score" value="4">
                        <span>4</span>
                    </label>
                    <label>
                        <input class="score-5" type="radio" name="score" value="5">
                        <span>5</span>
                    </label>
                </p>

                <div class="center-align">
                    <button class="waves-effect waves-light blue btn center-align mv-1" type="Submit" name="button">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endif %}

{% endblock content %}
