{% extends "base.html" %}
{% load static %}

{% block title %}
SHEETS
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
    $('.tooltipped').tooltip({
        enterDelay:100,
        exitDelay:0,
        inDuration:50,
        outDuration:50,
    });
});
</script>
{% endblock %}
{% block content %}

{% if sheets_records %}
<h4 class="center mv-2">{{ user.username|title }}, вот ваши таблицы!</h4>
    {% for pair in sheets_records %}
        <div class="row z-depth-1 hoverable valign-wrapper">
            <div class="col s12 m9">
                <p class="left-align">
                    <a href="{% url 'sheet_details' pair.0.name %}">{{ pair.0.name }}
                    </a>
                    {% if pair.1 %}
                    <span class="badge">{{ pair.1}}</span>
                    {% else %}
                    <span class="badge blue new" data-badge-caption="Новая"></span>
                    {% endif %}
                </p>
            </div>
            <div class="col s4 m1">
                <a
                class="waves-effect waves-green btn-flat green-text tooltipped"
                data-position="top"
                data-tooltip="Добавить новую запись"
                href="{% url 'record_new' pair.0.name %}"
                style="display: inline-flex; vertical-align:middle">
                <i class="material-icons">add</i>
                </a>
            </div>
            <div class="col s4 m1">
                <a class="waves-effect waves-teal btn-flat teal-text tooltipped" data-position="top" data-tooltip="Статистика" href="#">
                    <i class="material-icons">assessment</i>
                </a>
            </div>
            <div class="col s4 m1">
                <a class="waves-effect waves-red btn-flat red-text tooltipped" data-position="top" data-tooltip="Удалить" href="{% url 'sheet_delete' pair.0.name %}">
                    <i class="material-icons">delete</i>
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
<h4 class="center mv-2">Добро пожаловать, {{ user.username|title }}!</h4>
<h5 class="center mv-2">Пришло время творить</h5>

{% endif %}

<p class="center mv-4"><a class="waves-effect waves-light btn blue" href="{% url 'sheet_new' %}">Создать новую таблицу</a></p>

{% endblock %}
