:root {
    --primary-color: #2196f3;
}

.mv-5 {
    margin: 5rem 0;
}
.mv-4 {
    margin: 4rem 0;
}
.mv-3 {
    margin: 3rem 0;
}
.mv-2 {
    margin: 2rem 0;
}
.mv-1 {
    margin: 1rem 0;
}

.overline {
    text-decoration: line-through;
}
